<!DOCTYPE html>
<html>
<head>
  <title>GummiBearKingdom</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div class="container">
    <%= yield %>
  </div>
  <footer>
    <!--<a href="http://www.freepik.com">Designed by Terdpongvector / Freepik</a>-->
  </footer>

</body>
</html>
