<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to 'Kenneth Black', root_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item <%= 'active' if current_page?(root_path) %>">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(projects_path) %>">
        <%= link_to 'Portfolio', projects_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(repos_path) %>">
        <%= link_to 'Repositories', repos_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(about_path) %>">
        <%= link_to 'About', about_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(rails_admin_path) %>">
        <%= link_to 'Admin', rails_admin_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>