<!DOCTYPE html>
<html>
  <head>
    <title>Kenneth Black | Portfolio | Front End/Full Stack JavaScript Developer</title>
    <%= csrf_meta_tags %>
    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
    <link href="//fonts.googleapis.com/css?family=Lato|Lusitana|Merriweather|Questrial|Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main class="container">
      <%=  flash[:notice] %>
      <%=  flash[:alert] %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
