<h1>A fantastical adventure</h1>
<p>One day, <%= @person1 %> and <%= @person2 %> were walking through the woods, when suddenly a giant <%= @animal %> appeared. "<%= @exclamation %>", <%= @person1 %> cried. The two of them <%= @verb %> as quickly possible, and when they were safe, <%= @person1 %> and <%= @person2 %> gave each other a giant <%= @noun %>. </p>