<div class="container">
  <h2 class="text-center">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <label>
              <%= f.check_box :remember_me %> Remember Me
            </label>

          </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
  <% end %>

  <%= render "users/shared/links" %>

</div>