<!-- Sidebar -->
<div id="sidebar">

	<!-- Logo -->
		<h1 id="logo"><a href="#">STRIPED</a></h1>
    <% if user_signed_in? %>
     Logged in as <strong><%= current_user.email %></strong>
   <% end %>
	<!-- Nav -->
		<nav id="nav">
			<ul>
				<li class="<%= 'current' if current_page?(root_path) %>">
					<%= link_to "Home", root_path %>
				</li>
				<li class="<%= 'current' if current_page?(foods_path) %>">
					<%= link_to "Nutrition", foods_path %>
				</li>
				<!-- <li><a href="#">About Me</a></li>
				<li><a href="#">Contact Me</a></li> -->

        <% if user_signed_in? %>
         <li class="<%= 'current' if current_page?(edit_user_registration_path) %>">
					 <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
				 </li>
         <li>
					 <%= link_to "Logout", destroy_user_session_path, :method => "delete", :class => 'navbar-link'%>
				 </li>
       <% else %>
         <li class="<%= 'current' if current_page?(new_user_registration_path) %>">
					 <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'%>
				 </li>
         <li class="<%= 'current' if current_page?(new_user_session_path) %>">
					 <%= link_to "Login", new_user_session_path, :class => 'navbar-link'%>
				 </li>
       <% end %>

			</ul>
		</nav>

	<!-- Calendar -->
		<section class="box calendar">
			<div class="inner">
				<table>
					<caption>July 2014</caption>
					<thead>
						<tr>
							<th scope="col" title="Monday">M</th>
							<th scope="col" title="Tuesday">T</th>
							<th scope="col" title="Wednesday">W</th>
							<th scope="col" title="Thursday">T</th>
							<th scope="col" title="Friday">F</th>
							<th scope="col" title="Saturday">S</th>
							<th scope="col" title="Sunday">S</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="4" class="pad"><span>&nbsp;</span></td>
							<td><span>1</span></td>
							<td><span>2</span></td>
							<td><span>3</span></td>
						</tr>
						<tr>
							<td><span>4</span></td>
							<td><span>5</span></td>
							<td><a href="#">6</a></td>
							<td><span>7</span></td>
							<td><span>8</span></td>
							<td><span>9</span></td>
							<td><a href="#">10</a></td>
						</tr>
						<tr>
							<td><span>11</span></td>
							<td><span>12</span></td>
							<td><span>13</span></td>
							<td class="today"><a href="#">14</a></td>
							<td><span>15</span></td>
							<td><span>16</span></td>
							<td><span>17</span></td>
						</tr>
						<tr>
							<td><span>18</span></td>
							<td><span>19</span></td>
							<td><span>20</span></td>
							<td><span>21</span></td>
							<td><span>22</span></td>
							<td><a href="#">23</a></td>
							<td><span>24</span></td>
						</tr>
						<tr>
							<td><a href="#">25</a></td>
							<td><span>26</span></td>
							<td><span>27</span></td>
							<td><span>28</span></td>
							<td class="pad" colspan="3"><span>&nbsp;</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>

	<!-- Copyright -->
		<ul id="copyright">
			<li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>

</div>
