<!DOCTYPE html>
<html>
  <head>
    <title>HealthTracker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="/css/striped.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <div id="content">
      <div class="inner">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/sidebar' %>
    <div id="modal-shadow" class="hidden"></div>
    <div id="modal-window" class="alt-modal" role="dialog" aria-labelledby="modal-window"></div>
  </body>
</html>
