<%= form_for @link do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <%= f.submit %>
<% end %>