<% unless object.tags.empty? %>
  <% object.tags.each do |tag| %>
    <div class="tag-mode hidden inline">
      <form action="/<%= parent_table %>/<%= object.id %>/tags/<%= tag.id %>" method="post" class="inline">
        <input type="hidden" name="_method" value="delete">
        <button class="btn red small-round" id="tag-remove-<%= tag.id %>"><i class="tiny material-icons">delete</i></button>
      </form>
    </div>
    <span class="chip teal white-text"><%= tag.name %></span>
  <%end%>
<%end%>
