<div class="row">
  <div class="col s12 m10">
    <% if @playlist.nil? %>
      <div class = 'card horizontal'>
        <div class = 'card-stacked'>
          <div class='card-content'>
            <h2><a href ="/playlists" class="green-text accent-3">There are no playlists</h2></a>
            <p class='text-grey darken-2'>You have no playlists. Click this card to make some!</p>
          </div>
        </div>
      </div>
    <% else %>
      <center><h2 class="header"><%= @playlist.name %></h2></center>
      <p class="text-grey darken-2">
        <h5>Description:</h5> <%= @playlist.description %>
      </p>
      <h5>Lessons:</h5>
      <% if @playlist.lessons.any? %>
        <% @playlist.lessons.each do |lesson| %>
          <div class='card horizontal'>
            <div class='card-stacked'>
              <div class='card-content'>
                <h2><a href ="/lessons/<%= lesson.id %>" class="green-text accent-3"><%= lesson.title %></a></h2>
                <p class='text-grey darken-2'>  <%= lesson.description %></p>
                <form action="#" class='checkbox'>
                   <p>
                     <input type="checkbox" id="lesson1" />
                     <label for="lesson1">Completed</label>
                   </p>
                 </form>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class = 'card horizontal'>
          <div class = 'card-stacked'>
            <div class='card-content'>
              <h2><a href ="/playlists/<%= @playlist.id %>" class="green-text accent-3">There are no lessons</h2></a>
              <p class='text-grey darken-2'>This playlist has no lessons yet! Click this card to add some!</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
