
<div class="title-bar">
  <h2>Playlist: <%= @playlist.name %></h2>
  <div class="fixed-action-btn horizontal">
    <a class="btn-floating blue-grey small tooltipped"
      data-position="top" data-delay="20" data-tooltip="Options"
      ><i class="material-icons">settings</i></a>
    <ul>

      <li><a class="btn-floating deep-purple tooltipped"
             data-position="top" data-delay="20" data-tooltip="Search Lessons"
             href="/playlists/<%= @playlist.id %>/lessons/search">
             <i class="material-icons">search</i></a></li>

      <li><a class="btn-floating indigo tooltipped" onclick="editMode()"
             data-position="top" data-delay="20" data-tooltip="Edit Playlist"
             ><i class="material-icons">edit</i></a></li>

      <li><a class="btn-floating green tooltipped" onclick="addMode()"
             data-position="top" data-delay="20" data-tooltip="Add Lesson"
             ><i class="material-icons">add</i></a></li>

      <li><a class="btn-floating blue tooltipped" onclick="tagMode()"
            data-position="top" data-delay="20" data-tooltip="Edit Tags"
            ><i class="material-icons">label</i></a></li>
    </ul>
  </div>
</div>

<%= erb(:_tag_display, :locals => {:object => @playlist, :parent_table => "playlists"}) %>
<%= erb(:_tag_form, :locals => {:object => @playlist, :parent_table => "playlists"}) %>

<h5>Description: <%= @playlist.description %> </h5>
<h6>Due: <%=@playlist.due_date %></h6>

<h5 class="blue-grey-text headspace">Lessons Within this playlist</h5>
<% if @playlist.lessons.any?%>
  <div class="row">
    <% @playlist.lessons.each do |lesson| %>
      <div class="card-container col l6 m12 anchor">
        <%= erb(:_lesson_card, :locals => {:lesson => lesson}) %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>There are currently no lessons in this playlist. Use the dropdown below or the search function to add a lesson.</p>
<% end %>


<div class="card blue-grey darken-3 white-text edit-mode hidden">
  <div class="card-content">
    <form action="/playlists/<%= @playlist.id() %>" method="post">
      <span class="card-title">Update <%= @playlist.name %></span>
      <input name="_method" type="hidden" value="patch">

      <div class="form-group">
        <label for="playlist_name">Update playlist name:</label>
        <input id="playlist_name" name="playlist_name" type="text" value="<%=@playlist.name%>">

      </div>

      <div class="form-group">
        <label for="new_playlist_description">Update playlist description:</label>
        <input id="new_playlist_description" name="new_playlist_description" type="text" value="<%=@playlist.description%>">
      </div>
      <div class="form-group">
        <label for="new_playlist_description">Update playlist date:</label>
        <input type="date" class="datepicker" name="new_due_date" placeholder="Click to Enter Due Date" value="<%=@playlist.due_date%>">
      </div>

      <button type="submit" class="btn center btn-success">Update</button>
    </form>

    <form action="/playlists/<%= @playlist.id() %>" method="post"  id="delete-button">
      <input name="_method" type="hidden" value="delete">
      <button type="submit" class="btn red pull-up right">Delete Playlist</button>
    </form>
  </div>
</div>


<div class="card blue-grey darken-3 white-text add-mode hidden">
  <div class="card-content">
    <div id="add_lesson_to_playist_form">
      <span class="card-title">Add a lesson to this playlist</span>
      <% if @lessons.any? %>
        <form id="add_lesson_id" action="/playlists/<%=@playlist.id%>/lessons/add" method="post">
          <input name="_method" type="hidden" value="patch">
          <input type="hidden" name="playlist_id" id="playlist_id" value="<%= @playlist.id() %>">
          <br>
          <select id="lesson_id" name="lesson_id">
            <% @lessons.each() do |lesson| %>
              <option value="<%= lesson.id() %>"><%= lesson.title() %></option>
            <% end %>
          </select>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      <% else %>
        <p>There are no lessons to add. Make some!</p>
        <button class="btn cyan" name="button"><a href="/lessons" class="white-text">Go to Lessons page!</a></button>
      <% end %>
    </div>
  </div>
</div>
