<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-horizontal center">
      <div class="field form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :class => 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :cost %>
        <%= f.text_field :cost, :class => 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :origin %>
        <%= f.text_field :origin, :class => 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :imagedata %>
        <%= f.file_field :imagedata, :class => 'form-control' %>
      </div>

      <div class="actions form-group">
        <%= f.submit %>
      </div>
    </div>
<% end %>
