<div class="contacts">
  <h2 class="blue-grey-text text-darken-3 center-align">Contact List</h2>
  <% if @contact_list %>
    <% @contact_list.each_with_index do |contact, index| %>
      <div class="card blue-grey">
        <div class="card-content white-text">
          <span class="card-title"><%= contact.first_name %> <%= contact.last_name %></span>
          <p><%= contact.job ? "#{contact.job}" : "" %><% contact.job and contact.company ? " at " : "" %><% contact.company ? contact.company : "" %></p>
          <div class="address-block">
            <% contact.address_list.each do |address| %>
                <label class="teal-text text-lighten-3"><%= address.type %> Address</label>
                <p><%= address.local %></p>
                <p><%= address.city %>, <%= address.state %> <%= address.zip %></p>
            <% end %>
          </div>
          <div class="phone-block">
            <p>Phone Number</p>
            <% contact.phone_list.each do |phone| %>
              <p><label class="teal-text text-lighten-3"><%= phone.type %>:</label> (<%= phone.area_code %>) <%= phone.number %></p>
            <% end %>
          </div>
        </div>
        <div class="fixed-action-btn horizontal">
          <a class="btn-floating green small"><i class="material-icons">add</i></a>
          <ul>
            <li><a class="btn-floating deep-purple add-address-c<%= index %>"
                   onclick="openAddressModal('<%= contact.name %>', <%= index %>)"><i class="material-icons">location_on</i></a></li>
            <li><a class="btn-floating indigo add-phone-c<%= index %>"
                   onclick="openPhoneModal('<%= contact.name %>', <%= index %>)"><i class="material-icons">phone</i></a></li>
            <li><a class="btn-floating blue add-email-c<%= index %>"><i class="material-icons">email</i></a></li>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
  <button id="new-contact-button" class="btn" onclick="showContactForm()">Add Contact</button>
</div>

<div id="new-contact-form" class="new-contact card blue-grey darken-2 white-text hidden">
  <div class="card-content">
    <span class="card-title">Create New Contact</span>
    <form action="contact/new" method="post" class="">
      <div class="row">
        <div class="form-group col s6">
          <label for="first-name">First Name</label>
          <input type="text" id="first-name" name="first-name">
        </div>
        <div class="form-group col s6">
          <label for="last-name">Last Name</label>
          <input type="text" id="last-name" name="last-name">
        </div>
        <div class="form-group col s6">
          <label for="job">Job Title</label>
          <input type="text" id="job" name="job">
        </div>
        <div class="form-group col s6">
          <label for="company">Company</label>
          <input type="text" id="company" name="company">
        </div>
      </div>
      <button class="btn waves-effect" type="submit">Create Contact</button>
    </form>
  </div>
</div>

<div id="modal-shadow" class="hidden"></div>
<div id="new-address-modal" class="alt-modal card blue-grey darken-2 white-text hidden">
  <div class="card-content">
    <span class="card-title">Add New Address for <span id="new-address-target"></span></span>
    <form action="/address/new" method="post">
      <input name="address-contact-index" type="hidden" value="" id="new-address-contact-id">
      <div class="row">
        <div class="form-group col s6">
          <label for="local">Street</label>
          <input type="text" id="local" name="local">
        </div>
        <div class="form-group col s6">
          <label for="city">City</label>
          <input type="text" id="city" name="city">
        </div>
        <div class="form-group col s6">
          <label for="state">State</label>
          <input type="text" id="state" name="state">
        </div>
        <div class="form-group col s6">
          <label for="zip">Zip Code</label>
          <input type="text" id="zip" name="zip">
        </div>
        <div class="form-group col s6">
          <label for="address-type">Address Type</label>
          <input type="text" id="address-type" name="address-type">
        </div>
      </div>
      <button class="btn waves-effect" type="submit">Add Address</button>
      <button class="btn wave-effect red right" id="modal-close">Close Modal</button>
    </form>
  </div>
</div>


<div id="new-phone-modal" class="alt-modal card blue-grey darken-2 white-text hidden">
  <div class="card-content">
    <span class="card-title">Add New Phone Number for <span id="new-phone-target"></span></span>
    <form action="/phone/new" method="post">
      <input name="phone-contact-index" type="hidden" value="" id="new-phone-contact-id">
      <div class="row">
        <div class="form-group col s3">
          <label for="area-code">Area Code</label>
          <input type="text" id="area-code" name="area-code">
        </div>
        <div class="form-group col s6">
          <label for="phone-number">Phone Number</label>
          <input type="text" id="phone-number" name="phone-number">
        </div>
        <div class="form-group col s3">
          <label for="phone-type">Phone Number Type</label>
          <input type="text" id="phone-type" name="phone-type">
        </div>
      </div>
      <button class="btn waves-effect" type="submit">Add Phone Number</button>
      <button class="btn wave-effect red right" id="modal-close">Close Modal</button>
    </form>
  </div>
</div>
